#navigation-container{
    min-width: 50px;
    transition: all 0.3s ease-in-out;
    overflow: hidden;
}
#navigation-container:hover{
    width: 15%;
}
.nav-item-name{
    display: none;
    visibility: hidden;
    transition: opacity 0.2s ease-in-out;
}
#navigation-container:hover .nav-item-name{
    display: block;
    visibility: visible;
    opacity: 1;

}


/* login css */

.login{
    transition: all .3s ;
}